/* ContactUs.css */
.contact-container {
    background: rgb(255, 255, 255);
}

.contact-box {
    width: 60%;
    max-width: 900px;
    background: white;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
}

.contact-form {
    flex: 1;
    background: white;
    color: black;
}

.contact-info {
    flex: 1;
    background: #ADD8E6;
    /* Light Blue */
    color: rgb(0, 0, 0);
}

.btn-custom {
    background-color: #2b9fe2;
    /* Violet */
    color: white;
    border: none;
}

.btn-custom:hover {
    background-color: #1b4e9a;
    /* Dark Violet */
}

.bg-custom {
    background-color: #addce6;
    /* Light Blue */
}